<% provide(:title, @taxon.name) %>
<%= render 'page_title', page_title: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_sidebar', taxonomies: @taxonomies %>
        <%= render 'color_sidebar' %>
        <%= render 'size_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter' %>
        <div class="row">
        <%= render partial: 'product', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partners_logo' %>
