<% provide(:title, @product.name) %>
<%= render 'page_title', page_title: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <%= render 'carousel', product: @product %>
            <%= render 'thumbcarousel', product: @product %>
          </div>
          <div class="media-body">
            <%= render 'products_details', product: @product %>
          </div>
        </div>
      </div> 
    </div>
    <div class="row productsContent">
      <%= render 'related_products', related_products: @related_products %>
    </div>
  </div>
</section>
